  <div class="menu">
    <ul>
      <li><a href="/sessions/new" id="login">Login</a></li>
    </ul>
  </div>

  <h2> Sign up to PandaBnB </h2>

<div class="container">
  <div class="app-text">
    <p><font color="#8a0017";> <%= flash[:notice] %> </font></p>
    <form action="/users/new" method="post">
      <lable for="email"> Email Address</lable>
      <input type="email" name="email" placeholder="Email address" />
      <lable for="password"> Password</lable>
      <input type="password" name="password" placeholder="Enter your password" />
      <lable for="password_confirmation"> Confirm password </lable>
      <input type="password" name="password_confirmation" placeholder="Confirm password" />
      <input type="submit" value=" Sign Up " />
    </form>
  </div>
</div>
