Sign Up to MakersBnB

<br><a href="/login">Log In</a><br><br><br>

<form action="/create" method="post">
  <input type="text" name="email"><br>
  <input type="text" name="password"><br>
  <input type="text" name="password_confirmation"><br>
  <input type="submit" value="Sign Up">
</form>