<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Panda BnB</title>
    <link rel="shortcut icon" type="image/x-icon" href="<%= url('/panda-favicon-fn.ico') %>"/>
    <link href="<%= url('/normalize.css') %>" rel="stylesheet" type="text/css" />
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  </head>
  
  <body>
    <div class="menu">
      <ul>
        <li id="login"><a href="/sessions/new">Login</a></li>
        <li id="home"><a href="/" >Home</a></li>
        <li id="all-spaces"><a href="/spaces">All Spaces</a></li>
        <li id="user-spaces"><a href="/spaces/mine">My Spaces</a></li>
        <li id="sign-out">
          <form action="/sessions/destroy" method="post">
          <input type="submit" value="Sign Out" />
          </form>
        </li>
      </ul>
    </div>
    <%= yield %>
  </body>
