<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Panda BnB</title>
    <link rel="shortcut icon" type="image/x-icon" href="<%= url('/panda-favicon-fn.ico') %>"/>
    <link href="<%= url('/normalize.css') %>" rel="stylesheet" type="text/css" />
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  </head>
  
  <body>
    <%= yield %>
  </body>
</html>