<style>
  .menu #login {
    display: none;
  }
</style>

<div class="container" id="logged-in">
  <h2>You're now logged in!</h2>
  <form action="/spaces">
    <input type="submit" value=" View Spaces " />
  </form>
  
  <form action="/spaces/new">
    <input type="submit" value=" Add Space " />
  </form>

  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Sign Out" />
  </form>

  <form action="spaces/requests" method="post">
    <input type="submit" value="View Requests" />
  </form>
</div>