<h1>List a space</h1>
<form action="/spaces" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" class="input-box"/>

  <label for="description">Description</label>
  <input type="text" name="description" class="input-box"/>

  <label for="price">Price per night (£)</label>
  <input type="number" name="price" class="input-box" placeholder="£"/>
  
  <input type="submit" value="List my space" />
</form>

<br>


<label for="check-in">Available from: </label>
<input type="date" name="check-in" class="input-box"/>

<label for="check-out">Available to: </label>
<input type="date" name="check-out" class="input-box"/>


       