* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: #000;
  text-align: center;
}

/* headings */
h1,
h2 {
  font-family: 'Lobster', cursive;
}

/* form */
form input {
  padding: 5px;
  border: 2px solid #000;
  border-radius: 5px;
}

.app-text lable, 
.app-text input {
  display: block;
  text-align: left;
  margin: 0 auto 15px;
  width: 25%;
}

.app-text lable {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 0;
}

/* buttons */
input[type="submit"] {
  width: inherit;
  font-size: 15px;
  font-weight: bolder;
  margin: 25px auto;
  padding: 6px;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 10px;
  transition: all 0.4s ease-out;
}

/* button hover*/
input[type="submit"]:hover {
  color: #fff;
  background-color: #000;
  border-color: darkgray;
  cursor: pointer;
}